$brown: #5d4329;
$blue: #4c6663;
$yellow: #e1c186;
$orange: #c07453;
$green: #a6bf8e;
$gray: #0E0000;
$light-gray: black;
$white: white;

// Bulma Colors Variables

.is-primary {
  background-color: $green!important;
}
