<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Footer</strong> pour Mettre des trucs genre les pages statique et CGV etc...
      Rajouter une pages 'qui sommes nous?' par la suite, avec les marchés occupés...
    </p>
  </div>
</footer>
